RewriteEngine On
RewriteBase /terapia/

# Redirigir /admin a /admin/ (con barra)
RewriteRule ^admin$ admin/ [R=301,L]

# Si el archivo no existe, intentar cargar el index.html de la carpeta correspondiente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ admin/index.html [L]

